header {
    color: white;
    background-color: #34495E;
}

header h1 {
    border-bottom: 4px solid white;
}

#navButton a{
    border-right: 1px solid white;
}

#who, #main, #interest, #langue, #formation {
    padding-top: 20px;
    background-color: rgb(189, 208, 221);
}

#who {
    border-bottom: 2px solid black;
}

@media(max-width: 991px){
    #experience{
        padding-top: 20px;
    }
}